body{
    background-color: rgb(250, 247, 238);
    font-family: 'Courier New', monospace;
}
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid rgb(176, 184, 181);
    border-top: 0px;
    display: flex;
    justify-content: space-between;
    background: rgb(250, 247, 238);
    align-items: center;
}
.bhavana-Title{
    width: 250px;
    height: 100px;
    position: relative;
    left: 50px;
    display: flex;
    text-align: center;
    align-items: center;
}
#bhavana-Title{
    color: black;
    cursor: pointer;
}
.All-Components{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.All-Components ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Adjust spacing */
}
.All-Components ul li {
    display: inline-block;
}
.All-Components ul button{
    background-color:  rgb(250, 247, 238);
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.All-Components ul button a{
    text-decoration: none;
    color: black;
}
.sidebar{
    width: 150px;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; /* Changed from column-reverse to column */
}
.Contact{
    width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    bottom: 50px;
    left: -46px;
}
.Contact li{
    list-style-type: none;
}
.Contact i{
    color: black;
    font-size: 25px;
}
#leetcode-link img:hover {
    transform: scale(1.2);
  }
  
.Contact i:hover{
    font-size: 30px;
}
.vl{
    border-left: 1px solid rgb(176, 184, 181);
    height: 100%;
    position: relative;
    top: 5px;
    left: 55px;
}
.main-body{
    left: 150px;
    top: 100px;
    position: absolute;
    height: 100%;
    width: 100%;
}
.self-introduction{
    font-size: 45px;
    padding: 0px;
    margin: 0px;
    display: flex;
    top: 20px;
    flex-direction: column; /* Center align text */
    gap: 10px; /* Add spacing between elements */
}
.About-me{
    font-size: larger;
    margin-bottom: 5px; /* Add some space */
    position: relative; /* Change absolute to relative */
    top: -200px;
    margin-bottom: 20px;
}
.self-introduction-name{
    padding: 0px;
    top: -90px; /* Add space */
    position: relative; /* Change absolute to relative */
    margin-bottom: 40px;
}
#introduction{
    font-size: 16px;
    max-width: 600px;
    font-size: large;
    position: relative;
    top: -260px;
}
#myself-introduction{
    position: relative;
    top: 45px;
}
.linkedin-button{
    display: flex;
    position: relative;
    top: 510px;
    left: 140px;
}
#linkedin-button{
    background-color: rgb(250, 247, 238);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
#linkedin-button:hover{
    padding: 24px 34px;
}
.ABOUT-ME{
    display: block;
    position: relative;
    top: 750px;
    left: 140px;
    width: 700px;
    height: fit-content;
}
#about-me{
    display: flex;
}
.EXPERIENCE{
    width: 900px;
    height: fit-content;
    display: flex;
    position: relative;
    top: 1300px;
    left: 230px;
}
.EasyHiring{
    width: fit-content;
    height: fit-content;
}
#EasyHiring{
    position: absolute;
    left: 0px;
    top: 40px;
    font-size: 20px;
}
.work-experience{
    font-size: 30px;
}
.Details-easyHiring{
    position: relative;
    top: 90px;
    left: 20px;
    font-size: larger;

}

#Details-easyHiring{
    margin: 0px;
    padding: 0px;
}
#EasyHiring-Linkedin-link{
    color: rgba(220, 124, 117, 0.955);
    text-decoration-line: none;
}
#Period-easyHring{
    margin: 0px;
    padding: 0px;
}

.EasyHiring-description{
    position: relative;
    top: 90px;
    left: 25px;
}

.contact{
    position: relative;
    top: 1600px;
    left: 0px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}
#get-in-touch{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#get-in-touch-description{
    position: relative;
    top: -50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-placeholders{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-placeholders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#name, #email{
    width: 400px;
    height: 40px;
}
#message{
    width: 400px;
    height: 100px;
    display: flex;
    text-align: start;
}

#send-message-button{
    position: relative;
    top: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;

}
.github{
    position: relative;
    top: 1800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
}
#github-button{
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 7px;
}
#github-button:hover{
    padding: 13px 23px;
}
